In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split as tts
import h2o
from h2o.automl import H2OAutoML

In [2]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd5fb10bb80>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd5fb10b820>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd5fb112040>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd5fb112970>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd5fb1127c0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /simple/scikit-learn/
Requirement already satisfied: joblib>=0.11 in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: numpy>=1.14.6 in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.20.3)

In [3]:
!pip install h2o

Requirement already satisfied: h2o in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (3.36.1.1)
Requirement already satisfied: tabulate in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from h2o) (0.8.9)
Requirement already satisfied: requests in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from h2o) (2.26.0)
Requirement already satisfied: future in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from h2o) (0.18.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from requests->h2o) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from requests->h2o) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from requests->h2o) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages (from requests->h2o) (1.26.7)

In [4]:
train=pd.read_csv("../data/outcomes_models/train_mod_limp2.csv",encoding="unicode_escape")

In [5]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_333"; Java(TM) SE Runtime Environment (build 1.8.0_333-b02); Java HotSpot(TM) 64-Bit Server VM (build 25.333-b02, mixed mode)
  Starting server from /Users/danigomezlechonbarrachina/opt/anaconda3/lib/python3.9/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/tmp9v3x5ctt
  JVM stdout: /var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/tmp9v3x5ctt/h2o_danigomezlechonbarrachina_started_from_python.out
  JVM stderr: /var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/tmp9v3x5ctt/h2o_danigomezlechonbarrachina_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    23 days
H2O_cluster_name:           H2O_from_python_danigomezlechonbarrachina_kntlgc
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.778 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.7 final
--------------------------  ------------------------------------------------

In [6]:
h2train=h2o.H2OFrame(train)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [7]:
X=[c for c in h2train.columns if c!='price']

y='price'

In [8]:
# inicia auto-machine-learning

automl=H2OAutoML(max_models=50,
                 seed=42,   # random_state
                 max_runtime_secs=300,
                 sort_metric='RMSE')

In [9]:
# entrena

automl.train(x=X, y=y,training_frame=h2train)

AutoML progress: |
17:07:44.533: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

█████
17:08:05.821: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

█
17:08:09.556: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

██
17:08:19.909: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

████
17:08:36.745: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

██████
17:09:05.549: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

██
17:09:15.884: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

█
17:09:23.280: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

███
17:09:35.765: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

█
17:09:40.188: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

██████
17:10:12.874: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

█
17:10:16.724: _train param, Dropping bad and constant columns: [host_location_Kong, host_location_Austria, host_location_Brazil, host_location_Malta, host_location_Poland, host_location_Malaysia, host_location_PH, host_location_Mexico, host_location_Caledonia]

███████████████████████████████| (done) 100%
Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_grid_1_AutoML_1_20220506_170744_model_2


Model Summary:

     number_of_trees
0               33.0

ModelMetricsRegression: xgboost
** Reported on train data. **

MSE: 160.75336814674478
RMSE: 12.678855159151585
MAE: 9.05350979245516
RMSLE: 0.10949290581790493
Mean Residual Deviance: 160.75336814674478

ModelMetricsRegression: xgboost
** Reported on cross-validation data. **

MSE: 12691.368106075935
RMSE: 112.65597234978684
MAE: 54.68134291882819
RMSLE: 0.4237219180993128
Mean Residual Deviance: 12691.368106075935

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,54.679850,3.538847,60.893948,52.793910,54.039066,52.239086,53.433240
1,mean_residual_deviance,12689.782000,3810.748800,19298.342000,11760.726000,9509.503000,11044.069000,11836.270500
2,mse,12689.782000,3810.748800,19298.342000,11760.726000,9509.503000,11044.069000,11836.270500
3,r2,0.332870,0.441324,0.699733,-0.106264,0.374149,0.822420,-0.125689
4,residual_deviance,12689.782000,3810.748800,19298.342000,11760.726000,9509.503000,11044.069000,11836.270500
5,rmse,111.753490,15.848527,138.918470,108.446880,97.516685,105.090770,108.794624
6,rmsle,0.423189,0.023602,0.450194,0.406417,0.443819,0.420323,0.395193

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2022-05-06 17:10:31,10.960 sec,0.0,246.835575,168.218195,60927.801128
1,,2022-05-06 17:10:31,11.124 sec,5.0,62.007127,38.040667,3844.883773
2,,2022-05-06 17:10:31,11.266 sec,10.0,34.284280,23.425375,1175.411838
3,,2022-05-06 17:10:31,11.419 sec,15.0,24.818664,17.582438,615.966071
4,,2022-05-06 17:10:32,11.582 sec,20.0,20.204726,14.264448,408.230971
5,,2022-05-06 17:10:32,11.762 sec,25.0,16.703737,11.820620,279.014845
6,,2022-05-06 17:10:32,11.952 sec,30.0,13.219682,9.529542,174.760001
7,,2022-05-06 17:10:32,12.074 sec,33.0,12.678855,9.053510,160.753368

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,host_total_listings_count,6.642161e+07,1.000000,0.250893
1,host_acceptance_rate,2.465431e+07,0.371179,0.093126
2,minimum_nights_avg_ntm,2.068304e+07,0.311390,0.078126
3,longitude,1.985521e+07,0.298927,0.074999
4,neighbourhood_cleansed_Centrum-Oost,1.783452e+07,0.268505,0.067366
5,accommodates,1.589556e+07,0.239313,0.060042
6,latitude,9.647991e+06,0.145254,0.036443
7,bedrooms,9.394322e+06,0.141435,0.035485
8,Unnamed: 0.1,8.537060e+06,0.128528,0.032247
9,availability_30,6.658081e+06,0.100240,0.025149
10,Unnamed: 0,6.655080e+06,0.100195,0.025138
11,availability_365,4.990756e+06,0.075138,0.018851
12,beds,4.956084e+06,0.074616,0.018721
13,availability_90,4.761958e+06,0.071693,0.017987
14,reviews_per_month,4.140386e+06,0.062335,0.015639
15,calculated_host_listings_count_private_rooms,3.131934e+06,0.047152,0.011830
16,amenities,2.710900e+06,0.040814,0.010240
17,maximum_minimum_nights,2.620337e+06,0.039450,0.009898
18,host_verifications,2.031796e+06,0.030589,0.007675
19,room_type_Private room,1.919258e+06,0.028895,0.007250

See the whole table with table.as_data_frame()

In [10]:
print('[INFO] Leader board:')

leader_board=automl.leaderboard

leader_board.head()

[INFO] Leader board:

model_id,rmse,mse,mae,rmsle,mean_residual_deviance
XGBoost_grid_1_AutoML_1_20220506_170744_model_2,112.656,12691.4,54.6813,0.423722,12691.4
GBM_5_AutoML_1_20220506_170744,116.117,13483.1,51.8962,0.413187,13483.1
XGBoost_grid_1_AutoML_1_20220506_170744_model_5,121.096,14664.3,54.9132,0.419187,14664.3
XGBoost_3_AutoML_1_20220506_170744,123.943,15361.9,56.0178,nan,15361.9
GBM_2_AutoML_1_20220506_170744,124.729,15557.3,53.5792,nan,15557.3
DRF_1_AutoML_1_20220506_170744,125.103,15650.8,53.3384,0.417304,15650.8
XGBoost_grid_1_AutoML_1_20220506_170744_model_11,125.17,15667.4,57.8554,nan,15667.4
XGBoost_grid_1_AutoML_1_20220506_170744_model_10,125.249,15687.3,59.4541,nan,15687.3
XGBoost_2_AutoML_1_20220506_170744,125.316,15704,60.3371,nan,15704
XGBoost_grid_1_AutoML_1_20220506_170744_model_3,125.705,15801.7,58.8438,nan,15801.7

In [51]:
test=pd.read_csv("../data/outcomes_models/test_mod_limp2.csv",encoding="unicode_escape")

h2test=h2o.H2OFrame(test)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [52]:
y_pred=automl.leader.predict(h2test)

submission=h2o.as_list(y_pred)

xgboost prediction progress: |███████████████████████████████████████████████████| (done) 100%

In [53]:
submission.head()

      predict
0   67.932022
1  107.347649
2  122.505951
3  192.608475
4  252.666992

In [54]:
test.rename(columns={"Unnamed: 0": "id"},inplace=True)

In [55]:
test["Unnamed: 0.1"]

0          1
1          2
2          3
3          4
4          5
        ...
1383    1384
1384    1385
1385    1386
1386    1387
1387    1388
Name: Unnamed: 0.1, Length: 1388, dtype: int64

In [56]:
test=test.drop(["Unnamed: 0.1"],axis=1)
  
test["price"]=submission

In [58]:
sample_final_h2o=test[["price","id"]]

In [59]:


sample_final_h2o["id"]=test["id"]

/var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/ipykernel_64395/1893463908.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_final_h2o["id"]=test["id"]

In [61]:
sample_final_h2o.head(2)

        price  id
0   67.932022   0
1  107.347649   1

In [63]:
%pwd

'/Users/danigomezlechonbarrachina/Desktop/Ironhack/Proyectos/Kaggle-Competition-Project/my-code'

In [62]:
sample_final_h2o.to_csv("sample_final_h2o_v2.csv", index=False)

In [ ]:
#from google.colab import files
#files.download("sample_final_h2o.csv")