In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split as tts
import h2o
from h2o.automl import H2OAutoML

In [2]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)

In [3]:
!pip install h2o

Collecting h2o
  Downloading h2o-3.36.1.1.tar.gz (177.0 MB)
     |████████████████████████████████| 177.0 MB 17 kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.36.1.1-py2.py3-none-any.whl size=177068062 sha256=817b71e81a02c7cfda1935c4bb5a1a71fa876642c599ce6411aa2159f192070a
  Stored in directory: /root/.cache/pip/wheels/a6/d9/ab/5442447c7e2ccf07f66aa8b79f3877ce5382f0b95e6c0c797b
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.36.1.1

In [6]:
train=pd.read_csv("https://raw.githubusercontent.com/dgomezlechon/Kaggle-Competition-Project/main/data/train.csv",encoding="unicode_escape")

In [7]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.15" 2022-04-19; OpenJDK Runtime Environment (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1); OpenJDK 64-Bit Server VM (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpoegn249_
  JVM stdout: /tmp/tmpoegn249_/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpoegn249_/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    21 days, 1 hour and 20 minutes
H2O_cluster_name:           H2O_from_python_unknownUser_eragka
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.172 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.7.13 final
--------------------------  ----------------------------------

In [8]:
h2train=h2o.H2OFrame(train)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [9]:
X=[c for c in h2train.columns if c!='price']

y='price'

In [10]:
# inicia auto-machine-learning

automl=H2OAutoML(max_models=50,
                 seed=42,   # random_state
                 max_runtime_secs=300,
                 sort_metric='RMSE')

In [11]:
# entrena

automl.train(x=X, y=y,training_frame=h2train)

AutoML progress: |
16:53:23.217: _train param, Dropping bad and constant columns: [amenities, picture_url, neighbourhood_group_cleansed, calendar_updated, listing_url, name, description, bathrooms, scrape_id]

███████████████████
16:54:49.734: _train param, Dropping bad and constant columns: [amenities, picture_url, neighbourhood_group_cleansed, calendar_updated, listing_url, name, description, bathrooms, scrape_id]

████████████
16:55:49.946: GLM_1_AutoML_1_20220504_165323 [GLM def_1] failed: DistributedException from /127.0.0.1:54321: 'Java heap space', caused by java.lang.OutOfMemoryError: Java heap space
16:55:49.975: _train param, Dropping bad and constant columns: [amenities, picture_url, neighbourhood_group_cleansed, calendar_updated, listing_url, name, description, bathrooms, scrape_id]

█████
16:56:13.859: _train param, Dropping bad and constant columns: [amenities, picture_url, neighbourhood_group_cleansed, calendar_updated, listing_url, name, description, bathrooms, scrape_id]

██████
16:56:45.141: _train param, Dropping bad and constant columns: [amenities, picture_url, neighbourhood_group_cleansed, calendar_updated, listing_url, name, description, bathrooms, scrape_id]

█████████████████████| (done) 100%
Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_1_AutoML_1_20220504_165323


Model Summary:

     number_of_trees
0              106.0

ModelMetricsRegression: xgboost
** Reported on train data. **

MSE: 213.71112914148375
RMSE: 14.618862101459325
MAE: 7.110540721323211
RMSLE: NaN
Mean Residual Deviance: 213.71112914148375

ModelMetricsRegression: xgboost
** Reported on cross-validation data. **

MSE: 10990.286032670498
RMSE: 104.83456506644409
MAE: 61.36444701115977
RMSLE: NaN
Mean Residual Deviance: 10990.286032670498

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,61.364372,3.897467,60.535534,62.499470,57.649870,67.494550,58.642440
1,mean_residual_deviance,10990.141000,2492.472200,11035.477000,11548.925000,9238.670000,14789.458000,8338.177000
2,mse,10990.141000,2492.472200,11035.477000,11548.925000,9238.670000,14789.458000,8338.177000
3,r2,0.457245,0.320012,0.337506,0.807539,0.304157,0.769333,0.067690
4,residual_deviance,10990.141000,2492.472200,11035.477000,11548.925000,9238.670000,14789.458000,8338.177000
5,rmse,104.311870,11.682020,105.049870,107.465930,96.118004,121.611916,91.313614
6,rmsle,NaN,0.000000,NaN,NaN,NaN,NaN,NaN

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2022-05-04 16:54:36,1 min 13.358 sec,0.0,246.805956,168.177946,60913.179686
1,,2022-05-04 16:54:37,1 min 14.523 sec,5.0,141.678450,46.660588,20072.783075
2,,2022-05-04 16:54:38,1 min 15.030 sec,10.0,112.947175,36.608842,12757.064233
3,,2022-05-04 16:54:38,1 min 15.576 sec,15.0,92.998288,33.570545,8648.681542
4,,2022-05-04 16:54:39,1 min 16.087 sec,20.0,82.675484,30.374990,6835.235687
5,,2022-05-04 16:54:39,1 min 16.624 sec,25.0,73.121757,27.833557,5346.791416
6,,2022-05-04 16:54:40,1 min 17.140 sec,30.0,63.030860,25.815453,3972.889318
7,,2022-05-04 16:54:40,1 min 17.668 sec,35.0,56.082686,23.856510,3145.267645
8,,2022-05-04 16:54:41,1 min 18.192 sec,40.0,50.878099,21.972502,2588.580929
9,,2022-05-04 16:54:41,1 min 18.706 sec,45.0,46.618330,20.513938,2173.268668
10,,2022-05-04 16:54:42,1 min 19.260 sec,50.0,41.261968,19.161397,1702.549968
11,,2022-05-04 16:54:43,1 min 19.932 sec,55.0,36.736594,17.505836,1349.577332
12,,2022-05-04 16:54:43,1 min 20.472 sec,60.0,33.513342,16.053347,1123.144061
13,,2022-05-04 16:54:44,1 min 21.080 sec,65.0,30.080127,15.117267,904.814039
14,,2022-05-04 16:54:44,1 min 21.703 sec,70.0,26.927666,13.613367,725.099173
15,,2022-05-04 16:54:45,1 min 22.256 sec,75.0,24.038741,12.546410,577.861072
16,,2022-05-04 16:54:46,1 min 22.847 sec,80.0,21.361464,11.146841,456.312148
17,,2022-05-04 16:54:46,1 min 23.412 sec,85.0,19.650218,10.074129,386.131080
18,,2022-05-04 16:54:47,1 min 23.969 sec,90.0,18.343091,9.188152,336.469001
19,,2022-05-04 16:54:47,1 min 24.521 sec,95.0,17.150844,8.538008,294.151436

See the whole table with table.as_data_frame()

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,availability_365,27426504.00,1.000000,0.116755
1,last_review,15980639.00,0.582671,0.068030
2,availability_30,15614528.00,0.569323,0.066472
3,accommodates,12112514.00,0.441635,0.051563
4,host_neighbourhood.Nieuwmarkt en Lastage,11088665.00,0.404305,0.047205
5,calculated_host_listings_count_private_rooms,10690450.00,0.389785,0.045510
6,longitude,10610002.00,0.386852,0.045167
7,host_id,10438589.00,0.380602,0.044437
8,bedrooms,9499547.00,0.346364,0.040440
9,availability_60,8785518.00,0.320329,0.037400
10,first_review,8431888.00,0.307436,0.035895
11,review_scores_cleanliness,5513205.00,0.201017,0.023470
12,number_of_reviews_ltm,4754526.00,0.173355,0.020240
13,maximum_minimum_nights,4645308.00,0.169373,0.019775
14,review_scores_value,4432841.00,0.161626,0.018871
15,minimum_minimum_nights,4323559.00,0.157642,0.018406
16,availability_90,3639006.25,0.132682,0.015491
17,review_scores_location,3405287.50,0.124160,0.014496
18,minimum_maximum_nights,3161214.00,0.115261,0.013457
19,host_location.NL,3088213.00,0.112600,0.013147

See the whole table with table.as_data_frame()

In [12]:
print('[INFO] Leader board:')

leader_board=automl.leaderboard

leader_board.head()

[INFO] Leader board:

model_id,rmse,mse,mae,rmsle,mean_residual_deviance
XGBoost_1_AutoML_1_20220504_165323,104.835,10990.3,61.3644,nan,10990.3
XGBoost_2_AutoML_1_20220504_165323,112.059,12557.3,60.2786,nan,12557.3
GBM_1_AutoML_1_20220504_165323,158.298,25058.4,54.0491,0.437205,25058.4

In [16]:
test=pd.read_csv("https://raw.githubusercontent.com/dgomezlechon/Kaggle-Competition-Project/main/data/test.csv")

h2test=h2o.H2OFrame(test)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [18]:
y_pred=automl.leader.predict(h2test)

submission=h2o.as_list(y_pred)

xgboost prediction progress: |███████████████████████████████████████████████████| (done) 100%

/usr/local/lib/python3.7/dist-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'host_url' has levels not trained on: ["https://www.airbnb.com/users/show/10015905", "https://www.airbnb.com/users/show/100232584", "https://www.airbnb.com/users/show/10030360", "https://www.airbnb.com/users/show/100327409", "https://www.airbnb.com/users/show/1008875", "https://www.airbnb.com/users/show/10117243", "https://www.airbnb.com/users/show/10122091", "https://www.airbnb.com/users/show/1016298", "https://www.airbnb.com/users/show/101988058", "https://www.airbnb.com/users/show/101993859", ...999 not listed..., "https://www.airbnb.com/users/show/9591694", "https://www.airbnb.com/users/show/95922452", "https://www.airbnb.com/users/show/9619140", "https://www.airbnb.com/users/show/9621815", "https://www.airbnb.com/users/show/9635295", "https://www.airbnb.com/users/show/9718864", "https://www.airbnb.com/users/show/9752457", "https://www.airbnb.com/users/show/97768637", "https://www.airbnb.com/users/show/9904162", "https://www.airbnb.com/users/show/99450703"]
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'host_thumbnail_url' has levels not trained on: ["https://a0.muscache.com/im/pictures/user/00a929d7-db74-4a7b-a5fc-17b5291704f8.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/pictures/user/00ae3fd4-96f4-4999-9048-93188ad682a8.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/pictures/user/00f9d4e7-a503-46b6-9f1e-c04e8c4bccd2.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/pictures/user/01003dfb-80b1-4683-8472-31f3a959138f.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/pictures/user/01ab567d-7c4e-418b-8113-ff07479082a7.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/pictures/user/01e5d0fc-25ad-4401-94e3-57298bc801cc.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/pictures/user/0222556f-465c-46d1-aac6-1088de470434.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/pictures/user/02dc1de2-693d-4db1-90d9-fd7af8bfc59d.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/pictures/user/02fd6200-6258-441b-9cdb-099a5450e8d8.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/pictures/user/033f8662-8c0c-4dd3-82a7-1a10fd46cbca.jpg?aki_policy=profile_small", ...996 not listed..., "https://a0.muscache.com/im/users/9225306/profile_pic/1404315666/original.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/users/9287447/profile_pic/1398796143/original.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/users/9287585/profile_pic/1396725916/original.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/users/9417660/profile_pic/1441221061/original.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/users/9447620/profile_pic/1381868042/original.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/users/9519113/profile_pic/1429039635/original.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/users/9619140/profile_pic/1420895428/original.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/users/9635295/profile_pic/1432237053/original.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/users/9718864/profile_pic/1385566175/original.jpg?aki_policy=profile_small", "https://a0.muscache.com/im/users/9752457/profile_pic/1429780873/original.jpg?aki_policy=profile_small"]
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'host_picture_url' has levels not trained on: ["https://a0.muscache.com/im/pictures/user/00a929d7-db74-4a7b-a5fc-17b5291704f8.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/pictures/user/00ae3fd4-96f4-4999-9048-93188ad682a8.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/pictures/user/00f9d4e7-a503-46b6-9f1e-c04e8c4bccd2.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/pictures/user/01003dfb-80b1-4683-8472-31f3a959138f.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/pictures/user/01ab567d-7c4e-418b-8113-ff07479082a7.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/pictures/user/01e5d0fc-25ad-4401-94e3-57298bc801cc.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/pictures/user/0222556f-465c-46d1-aac6-1088de470434.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/pictures/user/02dc1de2-693d-4db1-90d9-fd7af8bfc59d.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/pictures/user/02fd6200-6258-441b-9cdb-099a5450e8d8.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/pictures/user/033f8662-8c0c-4dd3-82a7-1a10fd46cbca.jpg?aki_policy=profile_x_medium", ...996 not listed..., "https://a0.muscache.com/im/users/9225306/profile_pic/1404315666/original.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/users/9287447/profile_pic/1398796143/original.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/users/9287585/profile_pic/1396725916/original.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/users/9417660/profile_pic/1441221061/original.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/users/9447620/profile_pic/1381868042/original.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/users/9519113/profile_pic/1429039635/original.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/users/9619140/profile_pic/1420895428/original.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/users/9635295/profile_pic/1432237053/original.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/users/9718864/profile_pic/1385566175/original.jpg?aki_policy=profile_x_medium", "https://a0.muscache.com/im/users/9752457/profile_pic/1429780873/original.jpg?aki_policy=profile_x_medium"]
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'license' has levels not trained on: ["0000000000Z211908002", "0363 0094 4CCE C7C0 EB2C", "0363 0126 1408 ED23 9902", "0363 0126 EDCF A19E 2422", "0363 0151 5AA7 8C04 02F6", "0363 0195 E776 2FA7 C633", "0363 01B0 367B E30F 16DC", "0363 01BF 02A5 6B52 47EF", "0363 01DD 5AF0 C8EA D664", "0363 0212 6786 A1BD 8449", ...1023 not listed..., "0363e68bb601b2022d97", "04163P2B1D37AC58729M", "0636F39002E5E028CD5D", "ABCG1289CA1489FAA0Q9", "Abdc H78K HB98 bH66 bbh7", "D36366842DC542B1F6CD", "WETH 3203 OP30 9le2 0E0F", "Z211 9122 12xx xxxx xxxx", "Z211 9368 23Z2 1193 6823", "Z2119405290000000000"]
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'neighborhood_overview' has levels not trained on: [""De Oude Pijp" has been call Quartier Latin or the Museum Quartier. And with a reason as this area has transformed rapidly in recent years. With an extra boost as the Rijksmuseum opened after more than 10 years of renovation.", "'De Pijp' area is considered by locals to be the best center area of Amsterdam due to it's dense concentration of musea, restaurants, bars, shops and parks.<br /><br />Check out our Guidebook for our favourite places in town!", "'De Pijp' is Amsterdam's most vibrant neighborhood. Close to the Museum Quarter, 'De Pijp' gives you everything you look for in Amsterdam: small, cobbled streets, nice cafes, coffee corners and one of a kind restaurants and shops. Whether you stroll down the streets or sit down on one of the many terraces, visiting 'De Pijp' shows you what Amsterdam is all about. This is the hotspot where all new things in Amsterdam are happening. <br /><br />I love walking along the Albert Cuyp Market or heading over to Sarphatipark. Grab some homemade pancakes at Bakers & Roasters around the corner or a coffee at Coffee & Coconuts (located in a converted old theater). One of my favorite restaurants is conveniently located in the same street as my apartment. The tiny Indonesian restaurant Spang Makandra also does take away (in case you're intimidated by the line outside). You could of course try your luck and wait for a seat inside. If you are more in the mood for a beer just walk 2 min. to the other ", "'De Pijp' is a very unique area with its great small boutiques, beautiful village park (which is your view ;0), good restaurants, best barista coffee bars and the metro nearby to all other areas in Amsterdam. The house is in the middle of this area, but gives you the peace and quiet you need after a long day in the city. This area is very kids friendly; play garden in the park at 20 meters, restaurants with toys, ice cream salons and child friendly restaurant staff.", "'Old South' is one of the upscale area's of Amsterdam. It's known for its tree filled lanes, beautiful, spacious houses, lovely restaurants and fancy shops. <br /><br />The beautiful Vondelpark is only a 5 minutes stroll.<br /><br />The famous museums are less than 10 minutes away by tram or a 15 minutes walk (passing by some of the fanciest shopping streets of Amsterdam - the Cornelis Schuytstraat and the PC Hooftstraat). The Leidseplein is 10 min by bike or tram.", "- 6 min walk to Albert Hein supermarket<br />- New York Pizza and an authentic Indonesia takeaway just next door<br />- A shopping mall and a lake in 10 min walk<br />- Quiet and safe residential neighborhood", "- Best area in Amsterdam<br />- Jordaan area<br />- 100m from Anne Frank house museum<br />- 100m from Noordermarket (vintage/design/food on Saturday and (vintage) on Monday<br />- 10min walk from central railway station<br />- 5min walk from 9Street hip unique shopping district<br />- 1min walk from Haarlemmerstraat (unique local stores and restaurants)<br />- surrounded by specialty stores, local restaurants and coffee spots", "- Local brewery at 15 mins walk with AMAZING beer at a very reasonable price and located in a WINDMILL :-)  Brouwerij ‘t Iij, Funenkade 7.  Open daily from 2pm – 8 pm.  They sell a small selection of branded souvernirs as well if you’re into that.<br />- Fancy local restaurant at 2 mins walk: Wilde  Zwijnen, Javaplein 23, make sure you make reservations.<br />- Some nice bars: de Biertuin, Studio K, Badhuis (a former public bathhouse, yes!, chek out the details in the building)<br />- 2 Lovely parks at 10 mins walk: Oosterpark and Flevopark.", "- Right in the historic center. <br />- Anne Frank House (10 mins walk)<br />- Dam Square (10 mins walk)<br />- Red Light District (10 mins walk)<br />- Noordermarkt (Saturday Market) (5 mins walk)<br />- Central Station (10 mins walk)<br />- Museum square (15 mins with public transport)", "- The street is quiet. The architecture is 1930's 'The Amsterdamse School'.<br />- Grab a fresh croissant and juice from the shops around the corner. <br />- Trams to the centre is a 3-minute walk.<br />- 2 supermarkets around the corner<br />- Evening store around the corner (open till after midnight)<br />- Coffee & Juice bar around the corner<br />- 2 playgrounds in the street<br />- Vondelpark 5 minute walk", ...839 not listed..., "see the guide", "the area is city centre <br />opposite to Arcam <br />400 meters from Nemo Museum <br />5 minutes walk to The Flea market Waterlooplein.<br />the area is quite and yet has a couple of nice restaurants 50 to 100 meters from the apartment.<br />The building is surrounded by canals.", "the area is superb. its the world famous Jordaan with all the nice things Amsterdam has to offer. Bars/shops/canals/lunchrooms and the famous 9 Streets.", "the building is on an industrial area so you have no problem with neighbours. yet you are close to the centre with public transport ( two stops) or by ferry or by bike . <br /> don't go with your car to the centre because there you will pay €5,00 per hour to park. <br />There is a chinees take-away next door. there is a good thay restaurant 100meters away. there is a snackbar / sandwich shop 50 m. and next to the snackbar is a coffeeshop for all typical Amsterdam smokeries.<br /> There is a liqour store at the corner next to the snackbar. the bakery is crossing the street from the liquor store. there you will also find a pizzaria take-away and a good surinam restaurant. more to the right from the bakery there is a turkisch supermarket for all vegetables, meat, cheeses, olives and all good stuff. to the right of the turisch supermarket  you will find the daily market ( on wednesday friday , saturday) and the dutch supermarket the Deen (best price) and the  Albert Heijn.(more expencive) ", "the hoofddorpplein area is bustling with trendy new cafes, restaurants and bars. Also grocery stores, butchers, fruit & vegetables shops, kiosks within 5 mins walking distance. Oh, and don't forget your running shoes: there's a beautiful park with a running track along the canals close by!", "the house is situated in an upcoming area, calm and lots of nice places for breakfast, lunch, dinner etc.", "the neighborhood is called the Utrechtsestraat area. If you walk out the street of the apartment, you will directly see the famous Dutch canals. the neighborhood is really friendly and is not touristic at all.", "the neighborhood you are staying at is very close to the center.<br />Walking to the heart of the center (the Dam square where the Palace is) is 25 minutes. With the bike it is less about 6 minutes. About 2 minutes walking from the apartment you have a supermarket; bakery; evening shop; restaurant; takeaways snackbar; lunchrooms and breakfast places.<br />Also the bus and tram are just around the corner also about 2 minutes walking. <br />From station Sloterdijk you best take tram 19 until the Rijpgracht. From there it is a 2 minut walk. From Central station you best take bus 18 and get off at the crossing Admiraal de ruijterweg and the Jan van Galenstraat. From there it is a 2 minut walk.", "the unique and new neigborhood is already mentioned and known by architect groups. It is a lovely quiet neighborhood wit a park and even een swimming option in front of the house. The centre of Amsterdam is really close, just 7 minutes and you are at the ferry that goes to Central station, and the countrysite is only 15 minutes by bike, if you prefer that! To the famous Zaanse Schans you can cycle in 45 minutes", "very green and quiet neighbourhood in walking distance of the city center, Jordaan, Westerpark, Central Station"]
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'host_about' has levels not trained on: ["

Fokko: likes sailing and sitting on the porch with Loes.
Loes : passionate about the German language. Loves being part of the neighbourhood and its people.

", "
My place is perfect for business travelers or a family.
Maximum for 4 persons.", "
Hey,

I am a 32-year-old theater maker and actor from Amsterdam. I have my own music theater company and because I want to see performances in many different places I travel a lot through the Netherlands and Europe.

I am a nice boy who likes to eat together with friends, visit the cinema and does not shy away from a nice party.

I love to travel and have visited Kenya, Nepal, Thailand, Indonesia and Borneo with my backpack vacations. I love to immerse myself in a different culture and respect the customs and habits of other prayers.
", " "Welcome to the Faralda Crane Hotel in Amsterdam"

 MAKE YOUR DREAMS COME TRUE

The Faralda Crane Hotel, hidden on top of the highest monumental harbour crane, three spacious 5- star suites.

“Faralda is Amsterdam’s best-kept secret”

Don't expect a mainstream hotel "You'll love it or you hate it"
It’s a crane! Faralda is a mind-blowing and a once in a lifetime experience.
It’s excessive. Private & Invites only.
Access is on request, Rent a suite with your Lover(s) and choose your suite:
1. Free Spirit, 2. Secret Suite, 3. Mystique Suite (All rooms have a 360 view of Amsterdam).

“The Faralda Crane Hotel, the most Romantic & Inspiring place to stay”

Enjoy your romantic weekend discreetly, right in front of the crane and your suite  boats are sailing on the always busy river IJ.

Enjoy the romantic 360 view over Amsterdam with the sunset up to the dunes at the end of the horizon.

The former NDSM shipyard is a lively art district with numerous trendy restaurants, cafés and the largest graffiti museum in the world.

The panorama elevator to the top even stops right into your suite, The heated Jacuzzi is hidden on the top deck. “What happens in the crane, stays in the crane”

Your stay is safe with us safe.", " Food & wine are my passion, for many years I work as waiter/sommelier in one of the nicest restaurants in town. I live with my girlfriend and our daughter,  If we have time to travel, we always love to use Airbnb ourselves. And we always try to give our guests a warm welcome in many ways.", ""Like all great travelers, we have seen more than we remember, and remember more than we have seen"", "'Hello, I'm Franklin. I look forward to hearing from you if you would like to stay here, so just get in touch if you have questions or would like to make a booking'", "(French below)

Hi there!
I’m Gilles. I’m born in Paris, have grown up nearby Avignon, have lived in Marseille, Nice, Nancy and Paris to eventually end up in Amsterdam.
I’m a creative and work in advertising. I’m really into sport, music, wine and travel. I live in the Dam for 6 years and I can safely say that I know the city very well.

See you later!
Doei :)

Bonjour,
Je m'appelle Gilles, je suis né à Paris, j'ai grandi près d'Avignon et ai vécu par la suite à Nice, Marseille, Nancy, Paris et enfin Amsterdam. Dans la vie, je suis créatif en publicité et dans la vraie vie, je suis amateur de sport, de musique, de vins et de voyage. Je vis ici depuis 6 ans et je pense pouvoir dire sans prendre de risque que je connais très bien la ville.

À bientôt!", "(Hidden by Airbnb) Likes:
I live in Amsterdam, Netherlands.
I speak 4 languages
Italian, English, Dutch and French
", "(Website hidden by Airbnb)", ...629 not listed..., "bla", "creative woman, working in culture sector, living happily together with her husband and cat", "home owner, living as well in the same building.
", "i am happy ", "man 44 jaar", "man working in the arts, beautifull apartment in Amsterdam, house in Italy.
4 kids 1 grandchild and a wife", "muziek en sport", "we are a happy couple from amsterdam, holland, renting out our lovely two flow flat situated in thé lovely Amsterdam
", "working in the museum business, so very up to date what is happening in the entertainment business in Amsterdam. Very happy living together with my boyfriend and son and very happy with our new house where we wish to welcome you.", "world traveler"]
  warnings.warn(w)
/usr/local/lib/python3.7/dist-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'host_name' has levels not trained on: ["Aa", "Aafje", "Acostar Hotel", "Ad & Anna", "Adelle", "Adem", "Aicha", "Ait", "Aj", "Akos", ...386 not listed..., "Wessel", "Wiby", "Wilmer", "Winnie", "Xarisha", "Yaël", "Yoka", "Yonina", "Yorinde", "Zdenka"]
  warnings.warn(w)

In [19]:
submission.head()

         predict
0      20.431084
1      54.277081
2     109.404915
3     144.424927
4     189.545792
...          ...
1384   46.598175
1385  127.410683
1386  185.545029
1387   76.973076
1388  125.432243

[1389 rows x 1 columns]

In [24]:
test["price"]=submission

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price
0,0,https://www.airbnb.com/rooms/43916178,20211205213126,2021-12-06,bright room to unplug and disconnect,this bright and quiet bedroom will offer you the peace and rest yo...,Amsterdam Oost is becoming every day a more cool and young neighbo...,https://a0.muscache.com/pictures/96d9838d-1200-4c9c-8641-7d8629f65...,9574877,https://www.airbnb.com/users/show/9574877,...,5.00,5.00,0363 06C1 183D 5969 41C2,f,1,0,1,0,2.00,20.431084
1,1,https://www.airbnb.com/rooms/45539504,20211205213126,2021-12-06,STAY CLOSE IN OUR SEMI-PRIVATE BUNK POD FOR 2,"BUNK Hotel Amsterdam is situated in the hip, up-and-coming neighbo...",Just minutes by free ferry from Central Station lies Amsterdam Nor...,https://a0.muscache.com/pictures/44c4cc8e-2dc5-424c-92bd-f7dfd1255...,243878598,https://www.airbnb.com/users/show/243878598,...,NaN,NaN,Exempt,t,12,0,10,2,NaN,54.277081
2,2,https://www.airbnb.com/rooms/24707022,20211205213126,2021-12-05,Private and comfortable apartment in the Baarsjes,<b>License number</b><br />0363 8FBD 8FE6 DBA7 EF4F,NaN,https://a0.muscache.com/pictures/fc1d51a4-a93f-4bb6-a131-5c6952726...,15964538,https://www.airbnb.com/users/show/15964538,...,4.33,4.44,0363 8FBD 8FE6 DBA7 EF4F,t,1,1,0,0,0.23,109.404915
3,3,https://www.airbnb.com/rooms/1018639,20211205213126,2021-12-06,Canal app. 80m² Museum+shop area,"On the ground floor of a 17th century canalhouse, you will find th...",NaN,https://a0.muscache.com/pictures/15838066/d701bae3_original.jpg,4473576,https://www.airbnb.com/users/show/4473576,...,4.95,4.45,0363 1928 78CA 1A97 A407,f,2,0,2,0,0.48,144.424927
4,4,https://www.airbnb.com/rooms/37358259,20211205213126,2021-12-05,"Luxury apartment near: RAI, Center and Vondelpark",Welcome to my newly renovated apartment in Amsterdam “Oud Zuid”. I...,NaN,https://a0.muscache.com/pictures/7afc6826-0490-4f60-bd59-a23817ea7...,50369989,https://www.airbnb.com/users/show/50369989,...,NaN,NaN,0363 58E3 E622 C90C 0CA7,f,1,1,0,0,NaN,189.545792

In [29]:
sample_final_h2o=test[["price","id"]]

In [27]:
sample_final_h2o["id"]=test["id"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
sample_final_h2o

           price    id
0      20.431084     0
1      54.277081     1
2     109.404915     2
3     144.424927     3
4     189.545792     4
...          ...   ...
1384   46.598175  1384
1385  127.410683  1385
1386  185.545029  1386
1387   76.973076  1387
1388  125.432243  1388

[1389 rows x 2 columns]

In [31]:
%pwd

'/content'

In [32]:
sample_final_h2o.to_csv("sample_final_h2o.csv", index=False)

In [33]:
from google.colab import files
files.download("sample_final_h2o.csv")