In [1]:
#!pip install xgboost
#!pip install catboost
#!pip install lightgbm

In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split as tts

train_csv=pd.read_csv("../data/outcomes_models/train_mod_limp2.csv")

In [3]:
from sklearn.ensemble import GradientBoostingRegressor as GBR

from xgboost import XGBRegressor as XGBR

from sklearn.ensemble import RandomForestRegressor as RFR  

from catboost import CatBoostRegressor as CTR

rfr=RFR() #random forest
gbr=GBR()
xgbr=XGBR()
ctr=CTR()

In [4]:
X=train_csv.drop(['price'], axis=1)   # separacion X, y

y=train_csv.price

In [5]:
# Vamos a separar train_csv en 80% datos para train y 20% datos para testear

X_train, X_test, y_train, y_test=tts(X, y)

In [6]:
#random forest

rfr.fit(X_train, y_train)

# boosting

gbr.fit(X_train, y_train)
xgbr.fit(X_train, y_train)
ctr.fit(X_train, y_train, verbose=0)

## Evaluacion

In [7]:
from sklearn.metrics import mean_squared_error as mse

In [8]:
y_pred=rfr.predict(X_test)
mse(y_test, y_pred, squared=False)

100.45063588457826

In [9]:
y_pred=gbr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

112.82496139763815

In [10]:
y_pred=xgbr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

103.78910012012264

In [11]:
y_pred=ctr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

95.79280138185405

## Entrenamos modelo con todos los datos

In [12]:
X=train_csv.drop(['price'], axis=1)   # separacion X, y

y=train_csv.price

In [13]:
rfr.fit(X, y)
gbr.fit(X, y)
xgbr.fit(X, y)
# boosting

ctr.fit(X, y, verbose=0)

## Importamos el test con los datos limpios

In [14]:
test_csv1=pd.read_csv("../data/outcomes_models/test_mod_limp2.csv")
test_csv2=pd.read_csv("../data/outcomes_models/test_mod_limp2.csv")
test_csv3=pd.read_csv("../data/outcomes_models/test_mod_limp2.csv")
test_csv4=pd.read_csv("../data/outcomes_models/test_mod_limp2.csv")

In [30]:
test_csv1.head()

,Unnamed: 0.1,Unnamed: 0,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_verifications,latitude,longitude,accommodates,...,bathrooms_text_3.5 baths,bathrooms_text_3.5 shared baths,bathrooms_text_4 baths,bathrooms_text_Shared half-bath,bathrooms_text_unknown,host_identity_verified_t,host_has_profile_pic_t,has_availability_t,instant_bookable_t,host_is_superhost_t
0,0,0,100,50,1,1,5,52.35713,4.92470,1,...,0,0,0,0,0,1,1,1,0,0
1,1,1,100,100,0,0,2,52.38810,4.91438,2,...,0,0,0,0,0,1,1,1,1,0
2,2,2,0,0,1,1,4,52.37370,4.86340,2,...,0,0,0,0,0,1,1,1,1,0
3,3,3,0,0,2,2,6,52.36181,4.88783,2,...,0,0,0,0,0,1,1,1,0,0
4,4,4,0,0,0,0,2,52.34766,4.85982,2,...,0,0,0,0,0,0,1,1,0,0

In [31]:
X.head()

,Unnamed: 0.1,Unnamed: 0,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_verifications,latitude,longitude,accommodates,...,bathrooms_text_3.5 baths,bathrooms_text_3.5 shared baths,bathrooms_text_4 baths,bathrooms_text_Shared half-bath,bathrooms_text_unknown,host_identity_verified_t,host_has_profile_pic_t,has_availability_t,instant_bookable_t,host_is_superhost_t
0,0,0,100,75,13,13,8,52.39508,4.99186,3,...,0,0,0,0,0,1,1,1,0,0
1,1,1,0,0,0,0,3,52.36371,4.90745,4,...,0,0,0,0,0,0,1,1,0,0
2,2,2,100,97,20,20,2,52.35482,4.85329,2,...,0,0,0,0,0,1,1,1,1,1
3,3,3,100,67,1,1,3,52.36446,4.85972,2,...,0,0,0,0,0,0,1,1,0,0
4,4,4,100,75,1,1,9,52.34176,4.84782,2,...,0,0,0,0,0,1,1,1,0,1

no_estan=[]

for i in range(len(X.columns)):

    if X.columns[i] not in test_csv1.columns:
        
        print(X.columns[i])
              
        X=X.drop(X.columns[i],axis=1)

for i in range(len(X.columns)):

    if test_csv1.columns[i] not in X.columns:
        
        test_csv1=test_csv1.drop(test_csv1.columns[i],axis=1)

In [18]:
#Añadimos las columnas a test_csv1, test_csv2, test_csv3, test_csv4

In [19]:
#test_csv1[no_estan]=0
#test_csv2[no_estan]=0
#test_csv3[no_estan]=0
#test_csv4[no_estan]=0

In [33]:
y_pred1=gbr.predict(test_csv1)
y_pred2=xgbr.predict(test_csv2)
y_pred3=ctr.predict(test_csv3)
y_pred4=rfr.predict(test_csv4)

/Users/danigomezlechonbarrachina/opt/anaconda3/envs/Ironhack/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- host_location_Brazil
- host_location_Malta
- host_location_Poland
Feature names seen at fit time, yet now missing:
- bathrooms_text_4 shared baths
- bathrooms_text_4.5 baths
- bathrooms_text_5 baths
- bathrooms_text_5.5 baths
- bathrooms_text_Half-bath
- ...

  warnings.warn(message, FutureWarning)

ValueError: X has 107 features, but GradientBoostingRegressor is expecting 120 features as input.

In [ ]:
test_csv1["price"]=y_pred1
test_csv2["price"]=y_pred2
test_csv3["price"]=y_pred3
test_csv4["price"]=y_pred4

In [ ]:
sample_final1=test_csv1[["price","Unnamed: 0"]]
sample_final2=test_csv2[["price","Unnamed: 0"]]
sample_final3=test_csv3[["price","Unnamed: 0"]]
sample_final4=test_csv4[["price","Unnamed: 0"]]

In [ ]:
sample_final1.rename(columns={"Unnamed: 0": "id"},inplace=True)
sample_final2.rename(columns={"Unnamed: 0": "id"},inplace=True)
sample_final3.rename(columns={"Unnamed: 0": "id"},inplace=True)
sample_final4.rename(columns={"Unnamed: 0": "id"},inplace=True)

In [ ]:
sample_final1.to_csv("../data/sample_final1_cleaning2.csv", index=False)
sample_final2.to_csv("../data/sample_final2.csv_cleaning2", index=False)
sample_final3.to_csv("../data/sample_final3.csv_cleaning2", index=False)
sample_final4.to_csv("../data/sample_final4.csv_cleaning2", index=False)