In [1]:
#!pip install xgboost
#!pip install catboost
#!pip install lightgbm

In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split as tts

train_csv=pd.read_csv("../data/outcomes_models/train_mod_limp2.csv")

In [3]:
from sklearn.ensemble import GradientBoostingRegressor as GBR

from xgboost import XGBRegressor as XGBR

from sklearn.ensemble import RandomForestRegressor as RFR  

from catboost import CatBoostRegressor as CTR

rfr=RFR() #random forest
gbr=GBR()
xgbr=XGBR()
ctr=CTR()

In [4]:
X=train_csv.drop(['price'], axis=1)   # separacion X, y

y=train_csv.price

In [5]:
# Vamos a separar train_csv en 80% datos para train y 20% datos para testear

X_train, X_test, y_train, y_test=tts(X, y)

In [6]:
#random forest

rfr.fit(X_train, y_train)

# boosting

gbr.fit(X_train, y_train)
xgbr.fit(X_train, y_train)
ctr.fit(X_train, y_train, verbose=0)

## Evaluacion

In [7]:
from sklearn.metrics import mean_squared_error as mse

In [8]:
y_pred=rfr.predict(X_test)
mse(y_test, y_pred, squared=False)

186.26768816856614

In [9]:
y_pred=gbr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

192.37425804356928

In [10]:
y_pred=xgbr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

188.12688858503472

In [11]:
y_pred=ctr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

163.1518011334453

## Entrenamos modelo con todos los datos

In [12]:
X=train_csv.drop(['price'], axis=1)   # separacion X, y

y=train_csv.price

In [13]:
rfr.fit(X, y)
gbr.fit(X, y)
xgbr.fit(X, y)
# boosting

ctr.fit(X, y, verbose=0)

## Importamos el test con los datos limpios

In [14]:
test_csv1=pd.read_csv("../data/outcomes_models/test_mod_limp2.csv")
test_csv2=pd.read_csv("../data/outcomes_models/test_mod_limp2.csv")
test_csv3=pd.read_csv("../data/outcomes_models/test_mod_limp2.csv")
test_csv4=pd.read_csv("../data/outcomes_models/test_mod_limp2.csv")

In [15]:
test_csv1.head()

,Unnamed: 0.1,Unnamed: 0,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_verifications,latitude,longitude,accommodates,...,bathrooms_text_5.5 baths,bathrooms_text_Half-bath,bathrooms_text_Private half-bath,bathrooms_text_Shared half-bath,bathrooms_text_unknown,host_identity_verified_t,host_has_profile_pic_t,has_availability_t,instant_bookable_t,host_is_superhost_t
0,0,1,100,100,0,0,2,52.38810,4.91438,2,...,0,0,0,0,0,1,1,1,1,0
1,1,2,0,0,1,1,4,52.37370,4.86340,2,...,0,0,0,0,0,1,1,1,1,0
2,2,3,0,0,2,2,6,52.36181,4.88783,2,...,0,0,0,0,0,1,1,1,0,0
3,3,4,0,0,0,0,2,52.34766,4.85982,2,...,0,0,0,0,0,0,1,1,0,0
4,4,5,90,68,1,1,4,52.35268,4.86377,4,...,0,0,0,0,0,0,1,1,0,0

In [16]:
X.head()

,Unnamed: 0.1,Unnamed: 0,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,host_verifications,latitude,longitude,accommodates,...,bathrooms_text_5.5 baths,bathrooms_text_Half-bath,bathrooms_text_Private half-bath,bathrooms_text_Shared half-bath,bathrooms_text_unknown,host_identity_verified_t,host_has_profile_pic_t,has_availability_t,instant_bookable_t,host_is_superhost_t
0,0,0,100,75,13,13,8,52.39508,4.99186,3,...,0,0,0,0,0,1,1,1,0,0
1,1,1,0,0,0,0,3,52.36371,4.90745,4,...,0,0,0,0,0,0,1,1,0,0
2,2,2,100,97,20,20,2,52.35482,4.85329,2,...,0,0,0,0,0,1,1,1,1,1
3,3,3,100,67,1,1,3,52.36446,4.85972,2,...,0,0,0,0,0,0,1,1,0,0
4,4,4,100,75,1,1,9,52.34176,4.84782,2,...,0,0,0,0,0,1,1,1,0,1

no_estan=[]

for i in range(len(X.columns)):

    if X.columns[i] not in test_csv1.columns:
        
        print(X.columns[i])
              
        X=X.drop(X.columns[i],axis=1)

for i in range(len(X.columns)):

    if test_csv1.columns[i] not in X.columns:
        
        test_csv1=test_csv1.drop(test_csv1.columns[i],axis=1)

In [17]:
#Añadimos las columnas a test_csv1, test_csv2, test_csv3, test_csv4

In [18]:
#test_csv1[no_estan]=0
#test_csv2[no_estan]=0
#test_csv3[no_estan]=0
#test_csv4[no_estan]=0

In [19]:
y_pred1=gbr.predict(test_csv1)
y_pred2=xgbr.predict(test_csv2)
y_pred3=ctr.predict(test_csv3)
y_pred4=rfr.predict(test_csv4)

In [20]:
test_csv1["price"]=y_pred1
test_csv2["price"]=y_pred2
test_csv3["price"]=y_pred3
test_csv4["price"]=y_pred4

In [21]:
sample_final1=test_csv1[["price","Unnamed: 0"]]
sample_final2=test_csv2[["price","Unnamed: 0"]]
sample_final3=test_csv3[["price","Unnamed: 0"]]
sample_final4=test_csv4[["price","Unnamed: 0"]]

In [22]:
sample_final1.rename(columns={"Unnamed: 0": "id"},inplace=True)
sample_final2.rename(columns={"Unnamed: 0": "id"},inplace=True)
sample_final3.rename(columns={"Unnamed: 0": "id"},inplace=True)
sample_final4.rename(columns={"Unnamed: 0": "id"},inplace=True)

/var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/ipykernel_64641/1352245076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_final1.rename(columns={"Unnamed: 0": "id"},inplace=True)
/var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/ipykernel_64641/1352245076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_final2.rename(columns={"Unnamed: 0": "id"},inplace=True)
/var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/ipykernel_64641/1352245076.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_final3.rename(columns={"Unnamed: 0": "id"},inplace=True)
/var/folders/tr/7ry1klqj22sglvfj6nq3g5kw0000gn/T/ipykernel_64641/1352245076.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_final4.rename(columns={"Unnamed: 0": "id"},inplace=True)

In [ ]:
sample_final1
sample_final2
sample_final3
sample_final4

In [29]:
#pd.concat([sample_final1,sample_final1.iloc[1380]])

            price      id            0
0      108.755636     1.0          NaN
1      117.889349     2.0          NaN
2      134.669577     3.0          NaN
3      141.340223     4.0          NaN
4      226.077099     5.0          NaN
...           ...     ...          ...
1385   196.766666  1386.0          NaN
1386   137.148571  1387.0          NaN
1387   107.869385  1388.0          NaN
price         NaN     NaN   129.388536
id            NaN     NaN  1381.000000

[1390 rows x 3 columns]

In [30]:
#pd.concat([sample_final2,sample_final1.iloc[1380]])
#pd.concat([sample_final3,sample_final1.iloc[1380]])
#pd.concat([sample_final4,sample_final1.iloc[1380]])

        price      id            0
0      116.84     1.0          NaN
1      117.00     2.0          NaN
2      112.80     3.0          NaN
3      178.41     4.0          NaN
4      308.75     5.0          NaN
...       ...     ...          ...
1385   197.75  1386.0          NaN
1386   130.91  1387.0          NaN
1387   103.21  1388.0          NaN
price     NaN     NaN   129.388536
id        NaN     NaN  1381.000000

[1390 rows x 3 columns]

In [23]:
sample_final1.to_csv("../data/sample_final1_cleaning2.csv", index=False)
sample_final2.to_csv("../data/sample_final2.csv_cleaning2", index=False)
sample_final3.to_csv("../data/sample_final3.csv_cleaning2", index=False)
sample_final4.to_csv("../data/sample_final4.csv_cleaning2", index=False)

In [24]:
sample_final1.shape

(1388, 2)